<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>da</string>
	<key>CFBundleDisplayName</key>
	<string>Hello Cal</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>dk.packroff.hellocal</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>hellocal</string>
			</array>
		</dict>
	</array>
	<key>HCKeychainAccessGroup</key>
	<string>$(AppIdentifierPrefix)dk.packroff.hellocal.shared</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>Hello Cal bruger kameraet til at scanne stregkoder og fotografere mad.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Hello Cal bruger mikrofonen, når du indtaler hvad du har spist.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Hello Cal omsætter din tale til tekst, når du indtaler hvad du har spist.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Hello Cal bruger Face ID til at låse din billeddagbog op.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Hello Cal henter billeder fra dit fotobibliotek, når du vælger et billede.</string>
	<key>NSHealthShareUsageDescription</key>
	<string>Hello Cal læser de sundhedsdata, du har valgt (fx vægt, skridt og søvn), og viser dem i din statistik.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>Hello Cal skriver dine registreringer (fx mad, vand og vægt) til Apple Health, hvis du har slået det til.</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string></string>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
</dict>
</plist>
